globalGravityProduct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://icgem.gfz.de/schema"
           xmlns="http://icgem.gfz.de/schema"
           xmlns:resource="http://datacite.org/schema/kernel-4"
           elementFormDefault="qualified">

  <xs:include schemaLocation="include/vocabularies.xsd"/>
  <xs:include schemaLocation="include/temporalType.xsd"/>
  <xs:include schemaLocation="include/topographicType.xsd"/>
  <xs:include schemaLocation="include/staticType.xsd"/>
  <xs:include schemaLocation="include/ellipsoidalType.xsd"/>
  <xs:include schemaLocation="include/errors.xsd"/>
  <xs:include schemaLocation="include/description.xsd"/>
  <xs:include schemaLocation="include/inputDataSource.xsd"/>


  <xs:element name="globalGravityProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="description" type="descriptionType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>One or multiple descriptions of the gravity product model with different sections</xs:documentation>
          </xs:annotation>
        </xs:element>
        <choice> <!-- The product is either a spherical harmonic model, MASCON or an Altimetry model (extensions are possible) -->
        <!-- Describing the spherical harmonic model aka Global Gravitational model aka GGM aka gravity field model -->
          <xs:element name="sphericalHarmonicModel">
          <xs:annotation>
              <xs:documentation>
                Synonyms: Global Gravitational Model, GGM, Gravity Field Model.
                Definition: A mathematical representation of the geopotential using spherical or ellipsoidal harmonic coefficients.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="modelName" type="xs:string"/>
                <xs:element name="publicationYear" type="xs:gYear"/>
                <xs:element name="modelType" type="modelType"/>
                <xs:element name="mathematicalRepresentation" type="mathematicalRepresentation"/>
                <xs:element name="productType" type="xs:string"/>
                <xs:element name="fileFormat" type="fileFormat"/>
                <xs:element name="tideSystem" type="tideSystem"/>
                <xs:element name="degreeOrderMax" type="xs:integer"/>
                <xs:element name="earthGravityConstant" type="xs:double"/>
                <xs:element name="radius" type="xs:double"/>
                <xs:element name="errors" type="errors"/>
                <xs:element name="errorHandling" type="xs:string" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Additional information on how errors are handled or propagated</xs:documentation>
                  </xs:annotation>
                </xs:element>

                <choice> <!-- The model is either one of these three properties, which are specific to the model type -->
                  <xs:element name="temporalModelProperties" type="temporalModelsProperties" minOccurs="0"/>
                  <xs:element name="topographicModelProperties" type="topographicModelProperties" minOccurs="0"/>
                  <xs:element name="staticModelProperties" type="staticModelProperties" minOccurs="0"/>
                </choice>

                <xs:element name="ellipsoidalParameters" type="ellipsoidalParameters" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- Describing the MASCON model the exact datatypes are to be defined -->
          <xs:element name="MASCON">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="longitude" type="xs:double"/>
                <xs:element name="latitude" type="xs:double"/>
                <xs:element name="time" type="xs:time"/>
                <xs:element name="dataEWH" type="xs:double" minOccurs="0"/>
                <xs:element name="uncertainty" type="xs:double" minOccurs="0"/>
                <xs:element name="timeBound" type="xs:double" minOccurs="0"/>
                <xs:element name="landMask" type="xs:double" minOccurs="0"/>
                <xs:element name="masconID" type="xs:double" minOccurs="0"/>
                <xs:element name="longitudeBounds" type="xs:double" minOccurs="0"/>
                <xs:element name="latitudeBounds" type="xs:double" minOccurs="0"/>
                <xs:element name="scaleFactor" type="xs:double" minOccurs="0"/>
                <xs:element name="GAD" type="xs:double" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- Describing the Altimetry model (the exact datatypes are to be defined) -->
          <xs:element name="altimetryModel">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="longitude" type="xs:double"/>
                <xs:element name="latitude" type="xs:double"/>
                <xs:element name="time" type="xs:time"/>
                <xs:element name="uncertainty" type="xs:double"/>
                <xs:element name="timeBound" type="xs:double"/>
                <xs:element name="landMask" type="xs:double"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </choice>
        <!-- Input data sources: possibly for any model -->
        <xs:element name="inputDataSources" type="inputDataSource" minOccurs=0 maxOccurs="unbounded"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>