schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://icgem.gfz.de/schema"
           xmlns:icgem="http://icgem.gfz.de/schema"
           xmlns:resource="http://datacite.org/schema/kernel-4"
           elementFormDefault="qualified">

  <xs:import namespace="http://datacite.org/schema/kernel-4" 
             schemaLocation="https://schema.datacite.org/meta/kernel-4.5/metadata.xsd"/>

  <xs:simpleType name="modelTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Static"/>
      <xs:enumeration value="Temporal"/>
      <xs:enumeration value="Simulated"/>
      <xs:enumeration value="Topographic"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tideSystemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="tide_free"/>
      <xs:enumeration value="zero_tide"/>
      <xs:enumeration value="mean_tide"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="globalGravityProduct">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="productMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modelName" type="xs:string"/>
              <xs:element name="publicationYear" type="xs:gYear"/>
              <xs:element name="modelType" type="icgem:modelTypeType"/>
              <xs:element name="degreeOrderMax" type="xs:integer"/>
              <xs:element name="tideSystem" type="icgem:tideSystemType"/>
              <xs:element name="fileFormat" type="xs:string"/>
              <xs:element name="earthGravityConstant" type="xs:double"/>
              <xs:element name="radius" type="xs:double"/>
              <xs:element name="referenceEpoch" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="temporalModelProperties" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="startDate" type="xs:date"/>
              <xs:element name="stopDate" type="xs:date"/>
              <xs:element name="generatingInstitution" type="xs:string"/>
              <xs:element name="release" type="xs:string"/>
              <xs:element name="temporalResolutionDays" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ellipsoidalModelProperties" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="semimajorAxisA" type="xs:double"/>
              <xs:element name="semiminorAxisB" type="xs:double" minOccurs="0"/>
              <xs:element name="flattening" type="xs:double" minOccurs="0"/>
              <xs:element name="inverseFlattening" type="xs:double" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="topographicModelProperties" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="layerApproach" type="xs:string"/>
              <xs:element name="forwardModellingDomain" type="xs:string"/>
              <xs:element name="approximation" type="xs:string" minOccurs="0"/>
              <xs:element name="densityInformation" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element ref="resource:resource"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>