include/description.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1"
           targetNamespace="http://icgem.gfz.de/schema"
           xmlns="http://icgem.gfz.de/schema"
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Defines data types for the custom description sections of the ICGEM metadata scheme. 
      Each description contains a section type (controlled vocabulary) and content text.
      The descriptionSection enumeration provides fixed categories for organizing descriptions,
      while the content field allows flexible text up to 30,000 characters.
    </xs:documentation>
  </xs:annotation>

  <xs:simpleType name="descriptionSection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Abstract">
        <xs:annotation>
          <xs:documentation>Abstract or executive summary of the gravity model</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="General model description">
        <xs:annotation>
          <xs:documentation>General overview and characteristics of the model</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Input data">
        <xs:annotation>
          <xs:documentation>Description of input data sources and characteristics</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Processing procedures">
        <xs:annotation>
          <xs:documentation>Methods and procedures used in data processing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Specific features of resulting gravity field">
        <xs:annotation>
          <xs:documentation>Specific characteristics and features of the resulting gravity field</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>Additional information not covered by other categories</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="description">
    <xs:annotation>
      <xs:documentation>Container for a description section with a specific category and text content</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="section" type="descriptionSection" use="required">
          <xs:annotation>
            <xs:documentation>The category or type of this description section</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>