include/ellipsoidalParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://icgem.gfz.de/schema"
           xmlns="http://icgem.gfz.de/schema"
           elementFormDefault="qualified">
    <xs:complexType name="ellipsoidalParameters">
        <xs:sequence>
            <xs:element name="semimajorAxisA" type="xs:double"/>
            <xs:element name="semiminorAxisB" type="xs:double" minOccurs="0"/>
            <xs:element name="flattening" type="xs:double" minOccurs="0"/>
            <xs:element name="inverseFlattening" type="xs:double" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>