include/inputDataSource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://icgem.gfz.de/schema" 
           targetNamespace="http://icgem.gfz.de/schema" 
           elementFormDefault="qualified">

    <xs:include schemaLocation="include4datasources/inputDataSourceType.xsd"/>
    <xs:include schemaLocation="include4datasources/groundDetails.xsd"/>
    <xs:include schemaLocation="include4datasources/altimetryDetails.xsd"/>
    <xs:include schemaLocation="include4datasources/elevationTerrainDetails.xsd"/>
    <xs:include schemaLocation="include4datasources/modelDetails.xsd"/>

    <xs:complexType name="InputDataSourceType">
        <xs:sequence>
            <xs:element name="inputDataSourceType" type="inputDataSourceType"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            
            <xs:choice>
                <xs:sequence>
                    <xs:element name="satelliteValueName" type="xs:string"/>
                    <xs:element name="satelliteValueUri" type="xs:anyURI" minOccurs="0"/>
                    <xs:element name="satelliteSchemeName" type="xs:string" minOccurs="0"/>
                </xs:sequence>

                <xs:element name="groundDetail" type="groundDetails"/>

                <xs:element name="altimetryDetail" type="altimetryDetails"/>

                <xs:element name="modelDetail" type="modelDetails"/>

                <xs:sequence>
                    <xs:element name="elevationTerrainDetail" type="elevationTerrainDetails"/>
                    <xs:element name="compensationDepth" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:double">
                                    <xs:attribute name="uom" type="xs:string" fixed="m"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>