include/temporalModelProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           version="1"
           xmlns="http://icgem.gfz.de/schema" 
           targetNamespace="http://icgem.gfz.de/schema" 
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>Temporal properties for time-varying gravity field models</xs:documentation>
  </xs:annotation>

  <xs:complexType name="temporalModelsProperties">
    <xs:sequence>
      <xs:element name="startDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="stopDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="generatingInstitution" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="release" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="temporalResolution" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The temporal resolution of the gravity field model</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:decimal">
              <xs:attribute name="uom" type="xs:string" default="Day" use="optional">
                <xs:annotation>
                  <xs:documentation>Unit of Measurement. Defaults to 'Day'.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>