include/topographicModelProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://icgem.gfz.de/schema"
           xmlns="http://icgem.gfz.de/schema"
           elementFormDefault="qualified">
<xs:element name="topographicModelProperties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="layerApproach" type="xs:string"/>
            <xs:element name="forwardModellingDomain" type="xs:string"/>
            <xs:element name="approximation" type="xs:string" minOccurs="0"/>
            <xs:element name="densityInformation" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>