include/topographicModelProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://icgem.gfz.de/schema" targetNamespace="http://icgem.gfz.de/schema" elementFormDefault="qualified">
	<xs:complexType name="topographicModelProperties">
		<xs:sequence>
			<xs:element name="layerApproach">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Multi-layer"/>
						<xs:enumeration value="Single-layer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="forwardModellingDomain">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Spatial"/>
						<xs:enumeration value="Spectral"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="approximation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ellipsoidal"/>
						<xs:enumeration value="Spherical"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="densityInformation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Constant"/>
						<xs:enumeration value="Layer-specific density values"/>
						<xs:enumeration value="Density model"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="densityInformationDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>